html,
body {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 40%;
  background-size: cover;
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  t
}

.topLeft,
.topMiddle,
.topRight {
  border-top: 0px;
  font-size: 1.5rem;
  position: absolute;
  background-color: rgba(212, 197, 197, .25);
}

.topLeft {
  margin-left: 25px;
  margin-top: 1px;
  width: 100%;
}
.topLeft img:hover {
  color: black;
}

.topLeft {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.topMiddle {
  top: 35px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
.topRight {
  top: 35px;
  right: 15px;

}
.middLeft {
  margin: 50%;
  margin-left: 25px;
  display: inline-block;
  top: 50%;
}
.bottomLeft,
.bottomRight,
.bottomMiddle {
  font-size: 1.5rem;
  position: absolute;
}


.bottomLeft {
  left: 15px;
  bottom: 15px;
}
.bottomRight {
  bottom: 15px;
  right: 15px;
}
.bottomMiddle {
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center;
}